/* General */
* {
    font-family: 'Roboto';
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    align-items: center;
    position: relative;

}

.bigbox {
    width: 500px;
}

.title {
    display: flex;
    justify-content: center;

}



/*Tabela de INF*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ffffff;
    margin-top: 40px;
}

#main-container {
    width: 80%;
    margin: 0 auto;
 
}

#table input, #table button {
    border-radius: 5px;
}


.table th,
.table td {
    text-align: center; 
    vertical-align: middle;
}

.custom-button {
    background: none; /* Remove a cor de fundo */
    border: none; /* Remove as bordas */
    padding: 0; /* Remove o espaço de preenchimento interno */
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
    outline: none; /* Remove o contorno de foco */
}

/* Estilizando o ícone checkmark-circle (verde) */
.checkcircle {
    color: green;
}

/* Estilizando o ícone close-circle (vermelho) */
.checkclose {
    color: red;
}


.deleteButton{
    background: none; /* Remove a cor de fundo */
    border: none; /* Remove as bordas */
    padding: 0; /* Remove o espaço de preenchimento interno */
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
    outline: none; /* Remove o contorno de foco */
    color: #a00202;
}
